<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="webserviceActorRepository" class="fr.epsi.actor.repository.WebserviceRepository">
    </bean>

    <bean id="DatabaseActorRepository" class="fr.epsi.actor.repository.DatabaseActorRepository">
    <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="org.postgresql.Driver"/>
    <property name="url" value="jdbc:postgresql://epsi.simplearetenir.com:5432/sakila" />
    <property name="username" value="postgres" />
    <property name="password" value="epsi" />
    </bean>

    <bean id="actorService" class="fr.epsi.actor.service.MyActorService">
        <constructor-arg ref="DatabaseActorRepository"/>

    </bean>

    <bean id="handlerMapping"
        class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
    </bean>

    <bean id="/actors" class="fr.epsi.web.ActorController" />
        <constructor-arg ref="actorService">
    </bean>

</beans>
